@import './styles/reset.scss';
@import './styles/variables.scss';

body {
	background: var(--color-bg);
}

.gradient__bg {
	background: -moz-radial-gradient(
		circle at 3% 25%,
		rgba(0, 40, 83, 1) 0%,
		rgba(4, 12, 24, 1) 25%
	);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(
		circle at 3% 25%,
		rgba(0, 40, 83, 1) 0%,
		rgba(4, 12, 24, 1) 25%
	);

	/* opera 11.10+ */
	background: -o-radial-gradient(
		circle at 3% 25%,
		rgba(0, 40, 83, 1) 0%,
		rgba(4, 12, 24, 1) 25%
	);

	/* ie 10+ */
	background: -ms-radial-gradient(
		circle at 3% 25%,
		rgba(0, 40, 83, 1) 0%,
		rgba(4, 12, 24, 1) 25%
	);

	/* global 92%+ browsers support */
	background: radial-gradient(
		circle at 3% 25%,
		rgba(0, 40, 83, 1) 0%,
		rgba(4, 12, 24, 1) 25%
	);
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section__margin {
	margin: 4rem 6rem;
	@media screen and (max-width: 700px) {
		margin: 4rem;
	}
	@media screen and (max-width: 550px) {
		margin: 4rem 2rem;
	}
}

.section__padding {
	padding: 4rem 6rem;
	@media screen and (max-width: 700px) {
		padding: 4rem;
	}
	@media screen and (max-width: 550px) {
		padding: 4rem 2rem;
	}
}

.button {
	padding: 0.5rem 1rem;
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	color: var(--color-white);
	background: #ff4820;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: #ff4820;
		background: #fff;
	}
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
